* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header__content {
    display: flex;
    height: 80px;
    flex-direction: column;
    float: left;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 900;
    font-size: 19px;
    border-bottom: 2px solid grey;
}
.header__content > ul {
    float: right;
    
    margin-right: 40px;
    justify-content: space-around;

}
ul > li {
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
    float: right;
    padding: 0 20px;
}
li:hover{
    font-size: 20px;
    color: red;
    font-weight: bolder;
}
h1{
    color: rgb(3, 99, 3);
}
.input__area{
    height: 300px;
    margin-top: 4rem;
    background-color: rgb(23, 185, 185);
    width: 50%;
    margin: auto;
    padding: 2rem;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px  grey;
}
.input__area > input{
    border: none;
    background-color: transparent;
    border-bottom: 0.2px solid black;
    
}
.input__area > label{
    font-size: 19px;
}
.btn{
    margin: 2rem;
    padding: 1rem;
    background-color: green;
    border: none;
}
body{
    background-color: rgb(235, 228, 228);
}